@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext');

@font-face {
  font-family: 'Brandon-light';
  src: url('/src/assets/fonts/BRANDON_LIGHT\ \(3\).OTF') format('OTF');
  font-weight: normal;
  font-style: normal;
}




body, html {
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
}

.box {
  transition: transform 2.5s ease, opacity 3s ease;
  transform: translateX(0%);
  opacity: 0.8;
}


.slide-out {
  transform: translateX(-100%);
  opacity: 0;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

body {
  font-family: 'Brandon-light', 'Poppins', sans-serif;
}

.header {
  background-color: rgb(43, 43, 43);
	opacity: 1;
  font-size: 20px;
	position: absolute;
	top: 0;
	left: 0;
  z-index: 999999;
	color: snow;
}

.menu {
  z-index: 3;
  background-color: rgb(43, 43, 43);
  top: -100vh;
  transition: top 1s ease;
  color: snow;
}

.slide-menu {
  top: 12.6%;
}


header.header h1.title {
  font-size: 25px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


@media (max-width: 640px) {
  header.header h1.title {
    font-size: 15px;
  }
}

@media (max-width: 400px) {
  header.header h1.title {
    font-size: 12px;
  }
}